@model IEnumerable<CSVReader.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div>
        <form class="form-group" asp-action="UploadCvs" method="post" enctype="multipart/form-data">
            <div class=" mb-2 col-4">
                <label></label>
                <input type="file" name="file" class="form-control">
            </div>
            <div class="form-group col-4 mb-2">
                <button id="upload-btn" type="submit" class="btn btn-primary" disabled>Upload</button>
            </div>
        </form>
    </div>
</div>
<div class="mb-3 w-25">
    <input type="text" class="form-control" id="search-input" placeholder="Search...">
</div>
<div id="person-table-container">
    <table class="table" id="person-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Is Married</th>
                <th>Phone</th>
                <th>Date of Birth</th>
                <th>Salary</th>
                <th data-orderable="false"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.Id">
                    <td data-field="Id">@item.Id</td>
                    <td class="editable" data-field="Name">@item.Name</td>
                    <td class="editable" data-field="IsMarried">@item.IsMarried</td>
                    <td class="editable" data-field="Phone">@item.Phone</td>
                    <td class="editable" data-field="DateOfBirth">@item.DateOfBirth.ToShortDateString()</td>
                    <td class="editable" data-field="Salary">@item.Salary</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="confirmDeletion">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

@*Upload Button*@
<script>

    $(document).ready(function() {
        $('input[type="file"]').change(function() {
            if ($(this).val()) {
                $('#upload-btn').prop('disabled', false);
            }
        });
    });
</script>

@*Sorting*@
<script>
    $(document).ready(function () {
        var $table = $('#person-table');

        var $tableRows = $table.find('tbody tr');

        $table.find('thead th').click(function () {
            var columnIndex = $(this).index();
            var isAscending = true;

            if ($(this).hasClass('sorted-asc')) {
                isAscending = false;
                $(this).removeClass('sorted-asc').addClass('sorted-desc');
            }
            else if ($(this).hasClass('sorted-desc')) {
                $(this).removeClass('sorted-desc');
            }
            else {
                $(this).addClass('sorted-asc');
            }

            $tableRows.sort(function (a, b) {
                var aVal = $(a).find('td').eq(columnIndex).text().toUpperCase();
                var bVal = $(b).find('td').eq(columnIndex).text().toUpperCase();
                if (aVal < bVal) {
                    return isAscending ? -1 : 1;
                } else if (aVal > bVal) {
                    return isAscending ? 1 : -1;
                } else {
                    return 0;
                }
            });

            $table.find('tbody').empty().append($tableRows);
        });
    });
</script>

@*Search*@
<script>
    $(document).ready(function () {
        $("#search-input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

@*///Inline editing///*@

<script>
    $(document).ready(function () {
        $('.editable').on('click', function () {
            var $cell = $(this);
            var value = $cell.text();
            if (value) {
                value = value.trim();
            }
            var fieldName = $cell.data('field');
            var inputType = 'text';

            if (fieldName === 'IsMarried') {
                inputType = 'checkbox';
            } else if (fieldName === 'DateOfBirth') {
                inputType = 'date';
            } else if (fieldName === 'Salary') {
                inputType = 'number';
            }

            $cell.html('<input type="' + inputType + '" value="' + value + '">');

            $cell.find('input').focus();
        });


        $('table').on('blur', '.editable input', function () {
            var $row = $(this).closest('tr');
            var id = $row.data('id');
            var name = $row.find('[data-field="Name"] input').val();
             isMarried = $row.find('[data-field="IsMarried"] input').prop('checked');
            var phone = $row.find('[data-field="Phone"] input').val();
            var dateOfBirth = $row.find('[data-field="DateOfBirth"] input').val();
            var salary = $row.find('[data-field="Salary"] input').val();
            console.log(name);
            if (typeof name !== 'undefined' && name.trim() === '') {
                var $nameInput = $row.find('[data-field="Name"] input');
                $nameInput.addClass('error');
                $nameInput.focus();
                return;
            }
            if (typeof phone !== 'undefined' && phone.trim() === '') {
                var $phoneInput = $row.find('[data-field="Phone"] input');
                $phoneInput.addClass('error');
                $phoneInput.focus();
                return;
            }
            if (typeof dateOfBirth !== 'undefined' && dateOfBirth.trim() === '') {
                var $dateOfBirthInput = $row.find('[data-field="DateOfBirth"] input');
                $dateOfBirthInput.addClass('error');
                $dateOfBirthInput.focus();
                return;
            }
            if (typeof salary !== 'undefined' && salary.trim() === '') {
                var $salaryInput = $row.find('[data-field="Salary"] input');
                $salaryInput.addClass('error');
                $salaryInput.focus();
                return;
            }

            var data = {};
            $row.find('[data-field]').each(function () {
                var field = $(this).data('field');
                var value = $(this).find('input').val() || $(this).text().trim();
                if (field === 'IsMarried') {
                    value = $(this).find('input').prop('checked');
                }
                data[field] = value;
            });
            console.log("data ", data)
            $.ajax({
                type: 'POST',
                url: '/CSVPerson/Update',
                data: data,
                success: function () {
                    $row.find('[data-field="Name"]').text(name);
                    $row.find('[data-field="IsMarried"]').text(isMarried ? 'Yes' : 'No');
                    $row.find('[data-field="Phone"]').text(phone);
                    $row.find('[data-field="DateOfBirth"]').text(dateOfBirth);
                    $row.find('[data-field="Salary"]').text(salary);
                },
                error: function () {
                    alert('Failed to save data.');
                }
            });
        });
    });
</script>

@*<script>
    $(document).ready(function () {
        $('.editable').on('click', function () {
            var $cell = $(this);
            var value = $cell.text();
            if (value) {
                value = value.trim();
            }
            var fieldName = $cell.data('field');
            var inputType = 'text';

            if (fieldName === 'IsMarried') {
                inputType = 'checkbox';
                value = value === 'Yes';
            } else if (fieldName === 'DateOfBirth') {
                inputType = 'date';
            } else if (fieldName === 'Salary') {
                inputType = 'number';
            }

            $cell.html('<input type="' + inputType + '" value="' + value + '">');

            $cell.find('input').focus();
        });


        $('table').on('blur', '.editable input', function () {
            var $row = $(this).closest('tr');
            var id = $row.data('id');
            var name = $row.find('[data-field="Name"] input').val();
            var isMarried = $row.find('[data-field="IsMarried"] input').is(':checked');
            var phone = $row.find('[data-field="Phone"] input').val();
            var dateOfBirth = $row.find('[data-field="DateOfBirth"] input').val();
            var salary = $row.find('[data-field="Salary"] input').val();

            if (typeof name !== 'undefined' && name.trim() === '') {
                var $nameInput = $row.find('[data-field="Name"] input');
                $nameInput.addClass('error');
                $nameInput.focus();
                return;
            }
            if (typeof phone !== 'undefined' && phone.trim() === '') {
                var $phoneInput = $row.find('[data-field="Phone"] input');
                $phoneInput.addClass('error');
                $phoneInput.focus();
                return;
            }
            if (typeof dateOfBirth !== 'undefined' && dateOfBirth.trim() === '') {
                var $dateOfBirthInput = $row.find('[data-field="DateOfBirth"] input');
                $dateOfBirthInput.addClass('error');
                $dateOfBirthInput.focus();
                return;
            }
            if (typeof salary !== 'undefined' && salary.trim() === '') {
                var $salaryInput = $row.find('[data-field="Salary"] input');
                $salaryInput.addClass('error');
                $salaryInput.focus();
                return;
            }

            var data = {};
            $row.find('[data-field]').each(function () {
                var field = $(this).data('field');
                var value = $(this).find('input').val() || $(this).text().trim();
                if (field === 'IsMarried') {
                    value = $(this).find('input').prop('checked') ? 'Yes' : 'No';
                }
                data[field] = value;
            });
            console.log("data ", data)
            $.ajax({
                type: 'POST',
                url: '/CSVPerson/Update',
                data: data,
                success: function () {
                    $row.find('[data-field="Name"]').text(name);
                    $row.find('[data-field="IsMarried"]').text(isMarried ? 'Yes' : 'No');
                    $row.find('[data-field="Phone"]').text(phone);
                    $row.find('[data-field="DateOfBirth"]').text(dateOfBirth);
                    $row.find('[data-field="Salary"]').text(salary);
                },
                error: function () {
                    alert('Failed to save data.');
                }
            });
        });
    });
</script>*@